<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/criar.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Carme&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="criar-container">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt='PausaDramatica' id="logo"></img>
        <form action="/criar" method="POST">

            <input placeholder="  Nome" name="name"/>
            <!--<input placeholder="  Descricao" name="descricao"/>-->
            <textarea name="descricao" rows="4" cols="50" placeholder=" Descricao"></textarea>
            <input placeholder="  Lugar" name="lugar"/>
            <!--
            <input type="email" placeholder="  Email">
            -->
            <input id="button" type="submit" value="Criar">
        </form>
    </div>
</body>
</html>
